div(ng-include='"components/navbar/navbar.html"')
.container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='deleteUser(user)')
        span.glyphicon.glyphicon-trash.pull-right

  p
    button.btn(ng-click='deleteAllLogs()') Delete all logs
  ul.list-group
    li.list-group-item(ng-repeat='log in logs | orderBy: "time"')
      strong {{log.time}}
      br
      span {{log.longitude}}, {{log.latitude}}
      a.trash(ng-click='deleteLog(log)')
        span.glyphicon.glyphicon-trash.pull-right
