//- div(ng-include='"components/navbar/navbar.html"')

ui-gmap-google-map(center='map.center', zoom='map.zoom', options='map.options')
  ui-gmap-markers(models='logs', coords='"self"', fit='true', options='markers.options',
      click='markers.onClick')
    ui-gmap-windows(options='window.options')
      div(ng-non-bindable)
        | Time: {{time | date: 'medium'}}
        br
        | Location: {{latitude | number: 4}}&deg;N, {{longitude | number: 4}}&deg;E
        br
        | Accuracy: {{accuracy | number: 0}}m
        br
        | Battery: {{battery | number: 0}}%
        br
        | {{description}}
