//- div(ng-include='"components/navbar/navbar.html"')

ui-gmap-google-map(center='map.center', zoom='map.zoom', options='map.options')
  ui-gmap-markers(models='logs', coords='"self"', fit='true', options='markers.options',
      click='markers.onClick')
    ui-gmap-windows(options='window.options')
      div(ng-non-bindable)
        | Time: {{time}}
        br
        | Location: {{latitude}}, {{longitude}}
        br
        | Accuracy: {{accuracy}}
        br
        | Battery: {{battery}}
